# Tugas 7

In [4]:
import numpy as np
from sklearn import preprocessing
import pandas as pd

In [5]:
dataset = pd.read_csv("https://raw.githubusercontent.com/arsymaulanaali/datamining/main/credit_score1.csv")

In [6]:
dataset.head()

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,1,AGR-000001,295,YA,48,5,61 - 90 days,4
1,2,AGR-000011,271,YA,36,5,61 - 90 days,4
2,3,AGR-000030,159,TIDAK,12,0,0 - 30 days,1
3,4,AGR-000043,210,YA,12,3,46 - 60 days,3
4,5,AGR-000049,165,TIDAK,36,0,31 - 45 days,2

In [7]:
df = pd.DataFrame(dataset, columns = ["kode_kontrak", "pendapatan_setahun_juta", "kpr_aktif", "durasi_pinjaman_bulan", "jumlah_tanggungan", "rata_rata_overdue", "risk_rating"])
print(df)

    kode_kontrak  pendapatan_setahun_juta kpr_aktif  durasi_pinjaman_bulan  \
0     AGR-000001                      295        YA                     48
1     AGR-000011                      271        YA                     36
2     AGR-000030                      159     TIDAK                     12
3     AGR-000043                      210        YA                     12
4     AGR-000049                      165     TIDAK                     36
..           ...                      ...       ...                    ...
895   AGR-010739                      112        YA                     48
896   AGR-010744                      120        YA                     48
897   AGR-010758                      166     TIDAK                     24
898   AGR-010775                      196     TIDAK                     48
899   AGR-010790                      204     TIDAK                     24

     jumlah_tanggungan rata_rata_overdue  risk_rating
0                    5      61 - 90 days            4
1                    5      61 - 90 days            4
2                    0       0 - 30 days            1
3                    3      46 - 60 days            3
4                    0      31 - 45 days            2
..                 ...               ...          ...
895                  5         > 90 days            5
896                  2      46 - 60 days            3
897                  2       0 - 30 days            1
898                  0      31 - 45 days            2
899                  2       0 - 30 days            1

[900 rows x 7 columns]

In [8]:
df2 = pd.DataFrame(dataset, columns = ["risk_rating"])
df2

     risk_rating
0              4
1              4
2              1
3              3
4              2
..           ...
895            5
896            3
897            1
898            2
899            1

[900 rows x 1 columns]

In [9]:
from sklearn.preprocessing import OneHotEncoder
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(df2[["risk_rating"]]).toarray())
# merge with main df bridge_df on key values
bridge_df = df2.join(enc_df)
bridge_df

     risk_rating    0    1    2    3    4
0              4  0.0  0.0  0.0  1.0  0.0
1              4  0.0  0.0  0.0  1.0  0.0
2              1  1.0  0.0  0.0  0.0  0.0
3              3  0.0  0.0  1.0  0.0  0.0
4              2  0.0  1.0  0.0  0.0  0.0
..           ...  ...  ...  ...  ...  ...
895            5  0.0  0.0  0.0  0.0  1.0
896            3  0.0  0.0  1.0  0.0  0.0
897            1  1.0  0.0  0.0  0.0  0.0
898            2  0.0  1.0  0.0  0.0  0.0
899            1  1.0  0.0  0.0  0.0  0.0

[900 rows x 6 columns]

In [10]:
print(pd.get_dummies(df["risk_rating"]))
integerized_data = preprocessing.LabelEncoder().fit_transform(df["risk_rating"])
print(integerized_data)

     1  2  3  4  5
0    0  0  0  1  0
1    0  0  0  1  0
2    1  0  0  0  0
3    0  0  1  0  0
4    0  1  0  0  0
..  .. .. .. .. ..
895  0  0  0  0  1
896  0  0  1  0  0
897  1  0  0  0  0
898  0  1  0  0  0
899  1  0  0  0  0

[900 rows x 5 columns]
[3 3 0 2 1 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 0 1 1 0 0 1 0 0 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1 1 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 0 1 0 1 1 1 1 0 0 1 1 0 1 1 3 3 0 0 0 2 4 2 2 4 2 4 2 0 2 0 2 4
 0 2 2 4 0 2 3 1 2 1 0 3 2 2 2 0 3 0 3 2 0 2 4 2 4 4 4 2 4 2 0 4 4 2 2 0 4
 0 0 1 2 2 3 0 3 0 2 2 2 2 0 1 1 2 3 3 2 1 0 2 2 2 2 3 3 0 2 0 1 2 2 2 4 1
 2 4 2 0 4 4 0 4 4 2 1 4 2 4 0 1 2 2 4 4 2 0 0 0 2 0 0 4 0 2 4 2 1 2 2 0 0
 0 2 4 2 4 1 2 2 2 0 4 2 2 2 0 0 1 0 4 2 2 4 3 2 3 4 2 2 4 0 0 2 2 1 2 0 1
 2 0 2 1 1 1 3 2 1 2 0 1 4 4 3 2 0 1 1 4 3 4 1 2 2 0 2 4 0 1 4 2 0 4 2 0 3
 1 0 2 2 2 0 2 0 2 0 2 4 0 2 0 4 4 3 2 0 1 2 0 2 0 3 2 3 2 2 0 2 2 4 1 3 3
 1 0 2 0 2 2 2 2 3 0 2 3 2 0 0 4 4 0 0 2 3 0 1 0 3 2 2 4 2 3 0 2 2 2 3 4 0
 2 4 2 0 2 2 2 1 1 3 0 0 0 2 2 3 2 2 4 3 0 4 3 0 3 1 2 0 3 2 0 3 2 2 0 2 2
 2 0 2 1 1 2 0 1 2 1 2 2 4 0 3 0 0 2 0 3 0 0 0 4 2 2 3 2 1 0 2 2 2 3 2 3 2
 2 2 3 0 2 4 3 0 1 1 4 2 2 2 2 0 2 3 2 0 1 2 0 2 2 2 0 4 2 2 4 0 0 2 1 4 4
 0 2 3 1 4 3 1 0 0 2 1 1 0 2 2 0 4 0 2 2 2 0 3 0 4 2 3 3 0 1 0 1 0 0 2 1 0
 1 1 3 2 0 2 3 2 4 2 2 4 1 0 2 0 1 4 1 2 1 2 0 0 2 3 1 3 3 4 2 2 2 2 2 3 1
 3 0 3 2 0 2 0 3 0 3 2 0 2 2 2 3 2 0 0 2 2 2 0 1 1 3 1 3 0 2 1 3 0 2 2 0 3
 3 3 2 1 2 0 2 2 0 0 3 1 2 3 2 3 3 4 2 2 0 2 1 4 4 1 2 2 4 1 3 0 2 4 4 3 2
 2 0 4 0 2 1 1 1 2 2 4 2 2 1 2 1 2 0 2 2 3 2 2 1 3 4 2 0 1 3 2 0 3 2 0 2 1
 1 0 0 3 2 1 2 1 0 3 3 2 1 4 0 2 4 2 2 3 0 2 2 0 3 0 2 0 0 2 2 0 4 3 3 1 2
 4 1 2 0 0 0 1 4 0 3 0 1 3 4 4 1 3 4 2 1 3 0 2 2 1 2 4 0 3 4 2 0 1 0 0 2 2
 4 2 2 3 3 2 3 2 2 0 2 0 0 0 0 2 4 2 1 2 2 2 1 1 2 2 1 3 0 1 2 0 2 4 2 3 0
 2 0 3 0 0 3 2 2 2 0 0 2 3 3 0 0 4 3 3 3 2 2 2 0 1 2 3 1 2 3 3 3 0 3 3 0 2
 3 2 1 3 2 3 2 4 2 2 4 0 1 0 2 0 3 3 0 0 2 4 0 1 2 0 1 1 4 2 1 2 2 4 2 4 2
 3 0 2 3 4 0 3 2 4 4 3 2 2 4 2 3 1 2 2 3 0 0 0 2 1 0 2 0 1 2 4 0 0 2 0 1 4
 2 4 2 3 2 4 0 4 2 0 1 0]